@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body, #root { height: 100%; }

/* small utility to keep spacing consistent */
.container { max-width: 1024px; margin-left: auto; margin-right: auto; }
